<a href="https://colab.research.google.com/github/matheusglima/Python_Investing/blob/master/Obtendo_dados_dos_Balan%C3%A7os.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importando Bibliotecas

In [0]:
import pandas as pd
import numpy as np
import string
import warnings 
warnings.filterwarnings('ignore')

Obtendo e tratando os dados

In [0]:
url = 'https://www.fundamentus.com.br/resultado.php'

lista = pd.read_html(url, decimal=',', thousands='.')[0]

In [25]:
lista.shape

(195, 21)

In [0]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
    lista[coluna] = lista[coluna].str.replace('.', '')
    lista[coluna] = lista[coluna].str.replace(',','.')
    lista[coluna] = lista[coluna].str.rstrip('%').astype('float') / 100

Analisando os dados

In [0]:
lista = lista[lista['Liq.2meses'] > 1000000]

In [0]:
ranking = pd.DataFrame()
ranking['pos'] = range(1, 151)
ranking['EV/EBIT'] = lista[ lista['EV/EBIT'] > 0 ].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = lista.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values

In [28]:
ranking

     pos EV/EBIT   ROIC
0      1   PSSA3  HAPV3
1      2   SMLS3  BRDT3
2      3   EMBR3  SEER3
3      4   ENAT3  SLCE3
4      5   WIZS3  LINX3
..   ...     ...    ...
145  146   RADL3  RADL3
146  147   WEGE3  CMIG3
147  148   HAPV3  CMIG4
148  149   STBP3  PNVL3
149  150   PRNR3  PCAR3

[150 rows x 3 columns]

In [0]:
a = ranking.pivot_table(columns=['EV/EBIT'], values='pos')

In [0]:
b = ranking.pivot_table(columns=['ROIC'], values='pos')

In [31]:
t = pd.concat([a, b])
t

     AALR3  ABEV3  AGRO3  ALPA4  ALSO3  ...  YDUQ3  BTOW3  CNTO3  LWSA3  MGLU3
pos  112.0   82.0   75.0  136.0   68.0  ...   69.0    NaN    NaN    NaN    NaN
pos   74.0   97.0   15.0  104.0   63.0  ...   99.0   87.0   88.0   33.0   41.0

[2 rows x 153 columns]

In [32]:
rank = t.dropna(axis=1).sum()
rank

AALR3     186.0
ABEV3     179.0
AGRO3      90.0
ALPA4     240.0
ALSO3     131.0
          ...
VVAR3     166.0
WEGE3     241.0
WIZS3      28.0
WSON33    130.0
YDUQ3     168.0
Length: 145, dtype: float64

In [36]:
rank.sort_values()[:20]

PFRM3      26.0
WIZS3      28.0
PSSA3      37.0
SEER3      40.0
SULA11     41.0
UNIP6      45.0
NEOE3      51.0
POSI3      54.0
SLCE3      63.0
TIMP3      66.0
VLID3      67.0
JPSA3      67.0
SMLS3      75.0
COCE5      85.0
DIRR3      88.0
AGRO3      90.0
BRDT3      93.0
LIGT3      96.0
RLOG3     101.0
LCAM3     101.0
dtype: float64